@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-instrument-sans);
  --font-mono: var(--font-fira-code);
  --font-sora: var(--font-sora);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

.bg-dots {
  background-image: radial-gradient(
    circle at 25px 25px,
    #333 2%,
    transparent 0%
  );
  background-size: 50px 50px;
}
